<div class="profile-sidebar">
  <div class="profile-sidebar__avatar">
    {{#if avatarUrl}}
      <img src="{{avatarUrl}}" alt="{{name}}" />
    {{else}}
      <span>{{initials}}</span>
    {{/if}}
  </div>

  <div class="profile-sidebar__name">{{name}}</div>
  <div class="profile-sidebar__email">{{email}}</div>

  <ul class="profile-sidebar__tabs" data-slot="tabs"></ul>

  <div class="profile-sidebar__back" data-slot="back"></div>
</div>
