<div class="support-widget-host" data-support-widget>
    <button type="button" class="support-widget-host__button" data-open aria-haspopup="dialog" aria-label="{{buttonAriaLabel}}">
        <span class="support-widget-host__button-icon">
            <img src="/img/support-logo.svg" alt="">
        </span>
        <span class="support-widget-host__button-label">{{buttonLabel}}</span>
    </button>

    <div class="support-widget-host__modal" data-modal aria-hidden="true">
        <div class="support-widget-host__backdrop" data-close aria-hidden="true"></div>
        <div class="support-widget-host__window" role="dialog" aria-modal="true" aria-label="{{modalTitle}}">
            <header class="support-widget-host__header">
                <h2 class="support-widget-host__title">{{modalTitle}}</h2>
                <button type="button" class="support-widget-host__close" data-close aria-label="Close window">
                    x
                </button>
            </header>
            <div class="support-widget-host__frame">
                <iframe
                    data-iframe
                    title="{{iframeTitle}}"
                    loading="lazy"
                    referrerpolicy="same-origin"
                    allow="clipboard-write"
                    data-src="{{iframeSrc}}"
                ></iframe>
            </div>
        </div>
    </div>
</div>
