<article class="mail-item {{#unless isRead}}mail-item--unread{{/unless}}" data-mail-id="{{id}}">
    <div class="mail-item__left">
        <div class="mail-item__status" aria-hidden="true"></div>
        {{#if avatarUrl}}
            <img src="{{avatarUrl}}" alt="{{from}}" class="mail-item__avatar mail-item__avatar-image" />
        {{else}}
            <div class="mail-item__avatar mail-item__avatar--placeholder">{{initials}}</div>
        {{/if}}
        <span class="mail-item__from" title="{{from}}">{{from}}</span>
    </div>

        <span class="mail-item__subject" title="{{subject}}">{{subject}}</span>
        <span class="mail-item__preview" title="{{preview}}">{{preview}}</span>


    <time class="mail-item__time">{{time}}</time>
</article>
